.login-currency-group {

	width: 80%;
	margin-left: auto;
	margin-right: auto;

	label {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 1px;
		display: inline-block;
		margin-bottom: 8px;
		color: $moon;
		font-weight: bold;
	}

	.currency-input {
		display: flex;
		align-items: center;
		height: 60px;
		border: 1px solid $smoke;

		span {
			position: relative;
			padding: 0 20px;
			color: #000000;
			font-size: 15px; 
			line-height: 18px;
			letter-spacing: 1px;
			line-height: 60px;

			&::after {
				position: absolute;
				content: '';
				height: 80%;
				top: 10%;
				left: 0;
				width: 1px;
				background-color: $smoke;
			}
		}

		input {
			&::placeholder {
				color: $opal;
			}
		}

		input,
		select {
			outline: none;
			min-width: 150px;
			width: 100%;
			padding: 0 10px;
			color: $linkblue;
			font-size: 18px;
			height: 100%;
			text-align: left;
			letter-spacing: 1px;
			border: none;
			-moz-appearance: textfield;
		}

		select {
			-moz-appearance:none; /* Firefox */
    		-webkit-appearance:none; /* Safari and Chrome */
			appearance:none;
			position: relative;
			background-image: url('../images/icons/close.png');
			background-position: 95% center;
			background-repeat: no-repeat;
			cursor: pointer;
		}

		select:after {
			content: '';
			background-image: url('../images/icons/close.png');
			position: absolute;
			right: 15px;
			top: 0;
		}

		input::-webkit-inner-spin-button, 
		input::-webkit-outer-spin-button { 
			-webkit-appearance: none; 
			margin: 0; 
		}
	}	

	&--transfer {
		margin-top: 40px;

		.currency-input span {
			cursor: pointer;
			border: 2px solid $linkblue;
			font-size: 15px; 
			font-weight: bold;
			color: $linkblue;
		}
	}

	@media (max-width: 600px) {
		width: 100%;
		margin-top: 25px;
	}
}

.transfer__modal--forgotpassword {
	height: 150%;

	& .register-transfer__modal--select-account {
		top: 35%;
	}
}

.existing__account {
	cursor: pointer;

	& img {
		display: inline-block;
		vertical-align: middle;
		margin-top: -35px;
	}

	& .active_existing {
		display: none;
	}

	& .inactive_existing {
		display: inline-block;
	}

	&-active {
		& .active_existing {
			display: inline-block;
		}

		& .inactive_existing {
			display: none;
		}
	}

	& div {
		display: inline-block;
		vertical-align: middle;
		width: 20%;
		margin: 10px 30px;

		& p {
			color: $shadow;
		}

		& p:first-child {
			color: $shadow;
			margin-bottom: 5px;
			font-weight: bold;
		}

	}

	& a {
		position: relative;
		top: 9px;
		display: inline-block;
	}
}

.transfer__ghost-button {
	display: inline-block;
	margin-top: 15px;
	cursor: pointer;
	border: 2px solid $moon;
	font-size: 15px; 
	font-weight: bold;
	color: $moon;
	padding: 20px;
	margin-right: 15px;
	width: calc(50% - 7.5px);
	text-align: center;

	&:last-child {
		margin-right: 0;
	}
}

.login-separator {
	border-bottom: 1px solid $smoke;
	width: 80%;
	margin: 40px auto 0 auto;
}

.login-transfer__modal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 200%;
	background: linear-gradient(180deg, rgba(76, 104, 186, 0.7) 0%, rgba(69, 87, 140, 0.7) 100%);

	&--cross {
		position: absolute;
		top: 40px;
		right: 40px;
		cursor: pointer;
	}

	&--select-account {
		padding: 40px;
		background: $white;
		position: absolute;
		top: 800px;
		height: auto;
		width: 60%;

		& h3 {
			margin-top: 60px;
		}

		& .account__select {
			& h3 {
				margin: 0;
				color: $black;
			}

			& p {
				color: $black;
			}

			& .transfer__ghost-button {
				margin-top: 50px;
				padding: 10px 30px;
				font-size: 18px;
				width: auto;
			}

			&--create {
				.save-account {
					margin-top: 30px;

					& input {
						width: 30px;
						height: 30px;
						border-radius: 0;
						margin-right: 15px;
						border: 1px solid $smoke;
						display: inline-block;
						vertical-align: middle;
					}

					& span {
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}

		& .login-currency-group {
			display: inline-block;
			padding-right: 30px;
			position: relative;
			margin-top: 50px;
			.error-form{
				position: absolute;
			color:red
			}

			& .currency-input input {
				font-size: 18px;

				&::placeholder {
					color: $linkblue;
				}
			}
		}

		& .currency-group-reason {
			display: block;
			width: 100%;

			& select {
				display: block;
				width: 100%;
				margin-bottom: 15px;
				-moz-appearance:none; /* Firefox */
				-webkit-appearance:none; /* Safari and Chrome */
				appearance:none;
				position: relative;
				background-image: url('../images/icons/close.png');
				background-position: 95% center;
				background-repeat: no-repeat;
				cursor: pointer;
			}
	
			select:after {
				content: '';
				background-image: url('../images/icons/close.png');
				position: absolute;
				right: 15px;
				top: 0;
			}

			& select,
			input {
				outline: none;
				min-width: 150px;
				width: 100%;
				padding: 20px;
				color: $linkblue;
				font-size: 18px;
				height: 100%;
				text-align: left;
				letter-spacing: 1px;
				border: none;
				-moz-appearance: textfield;
				border: 1px solid $smoke;
			}

			& input {
				display: none;
				width: 100%;

				&.show--reason-box {
					display: block;
				}

			}
		}

		&--small {
			width: 576px;
			height: auto;
		}

		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.2s ease-in-out;
	}
}

.btn--transfer {
	cursor:pointer;
}

.promo__validate {
	margin-top: 15px;

	& img {
		margin-right: 5px;
	}
}

.rates {
	&__container {
		position: relative;
		z-index: 99;
		max-width: $container-width;
		margin: 0 auto;
		width: 100%;
		box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
	}

	&__item {
		display: inline-block;
		width: 25%;
		text-align: center;
		background-color: $smokelight;
		font-size: 18px;

		& div {
			padding: 0 10px;
			margin: 20px 0;
			border-right: 1px solid $dust;
		}

		&:last-child div {
			border: none;
		}

		&--highlight {
			background-color: $smoke;

			& div {
				border: none;
			}
		}
	}
}

.login-link-holder {
	width: 80%;
	text-align: left;
	margin: 40px auto 0 auto;

	&--google {
		margin-top: 0;
		
		& .transfer__ghost-button {
			font-weight: 500;
			font-size: 18px;
			line-height: 18px;
		}
	}
}

.cards .login-link-holder .btn {
	width: 100%;
}

.google-logo {
	width: 1.5em;
	margin-right: 20px;
}

// Maybe rethink how background shape should work, change what it is relative to
// Currently it breaks when changing the height of money-transfer
// Moving money-transfer out of hero
.login-money-transfer {
	position: relative;
	z-index: 999999;
	max-width: 950px;
	text-align: center;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 60px 200px;
	background-color: #FFFFFF;
	border-radius: 2px;
	box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
	z-index: $z-index-content;

	h1 {
		font-weight: 400;
		margin-bottom: 0;
	}

	h2 {
		font-weight: 500;
		margin: 0 0 20px;
		font-size: 32px;
	}
	h3 {
		margin: 0 0 40px;
	}

	&__footer {
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: 45px;

		.ASIC-logo {
			width: 200px;
			height: 65px;
		}

		p {
			font-size: 24px;
			line-height: 34px;
			margin: 0;

			&:first-of-type {
				margin-left: auto;
			}

			&:nth-of-type(2) {
				margin-left: 40px;
			}
		}

		.btn {
			margin-left: 40px;
		}
	}

	@media (max-width: 1200px) {
		box-shadow: $box-shadow-light;
	}

	@media (max-width: 950px) {
		padding: 45px 40px 50px;

		&__footer {
			margin: 25px 0 0;
			flex-wrap: wrap;

			.ASIC-logo {
				display: none;
			}

			p {
				margin: 0 !important;
				width: 50%;
			}

			.btn {
				margin: 20px 0 0;
			}
		}
	}

	@media (max-width: 768px) {
		h2 {
			font-size: 24px;
			line-height: 29px;
		}
		h3 {
			font-size: 18px;
			line-height: 26px;
			margin: 0 0 15px;
		}
	}

	@media (max-width: 500px) {
		
		
		&__footer p {
			font-size: 16px;
			line-height: 23px;
		}
	}
}